config/node-red/flows.json
[{"id":"838f51e1.2711f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b228b26.09dee8","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"93662455.cd2448","type":"api-call-service","z":"838f51e1.2711f","name":"Acende luz","server":"9b228b26.09dee8","version":1,"debugenabled":true,"service_domain":"light","service":"turn_on","entityId":"light.lampada_porta_cozinha","data":"{\"entity_id\": \"light.lampada_porta_cozinha\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":140,"wires":[[]]},{"id":"7c892690.2295e8","type":"server-state-changed","z":"838f51e1.2711f","name":"Abre porta","server":"9b228b26.09dee8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.porta_cozinha_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":180,"wires":[["93662455.cd2448","482c5434.085c5c"],[]]},{"id":"482c5434.085c5c","type":"delay","z":"838f51e1.2711f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":240,"wires":[["85c15548.acdc08"]]},{"id":"85c15548.acdc08","type":"api-call-service","z":"838f51e1.2711f","name":"Apaga luz","server":"9b228b26.09dee8","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.lampada_porta_cozinha","data":"{\"entity_id\": \"light.lampada_porta_cozinha\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":240,"wires":[[]]}]
